body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  overflow-x: hidden;
}

svg {
  border: 2px solid black;
}

.button-section {
  margin: 8px 0;
  padding: 8px 0;
  display: flex;
  width: 400px;
}

.button-section button {
  outline: none;
  background: none;
  border: none;

  padding: 8px;
  border: 1px solid hsl(255, 70%, 70%);
  background-color: hsl(255, 70%, 50%);
  border-radius: 8px;
  color: hsl(0, 70%, 95%);
  margin-right: 4px;
}
/* #content .map path {
  fill: gray;
  /* stroke: #aaa; 
} */
